*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

body{
  background:#fff8f2;
  font-family:Arial, Helvetica, sans-serif;
}

.app-layout{
  display:flex;
}

.sidebar{
  width:260px;
  min-height:100vh;
  background:#151515;
  color:white;
  padding:2rem 1.5rem;
  position:fixed;
  left:0;
  top:0;
}

.logo{
  text-align:center;
  margin-bottom:3rem;
}

.logo img{
  width:90px;
  margin-bottom:1rem;
}

.logo h2{
  color:#d3C44E;
}

.logo span{
  color:#ccc;
  font-size:.9rem;
}

.sidebar ul{
  list-style:none;
}

.sidebar li{
  margin:1rem 0;
}

.sidebar a {
  color: #4dff91;
  text-decoration: none;
  font-weight: 600;
  letter-spacing: 1px;
  text-transform: uppercase;
}
.sidebar a:hover {
  color: #7dffb0;
  text-shadow: 0 0 15px rgba(77,255,145,0.8);
}

.main-content{
  margin-left:260px;
  padding:3rem;
  width:100%;
}