*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

body{
  background:#fff8f2;
  font-family:Arial, Helvetica, sans-serif;
}

.app-layout{
  display:flex;
}

.sidebar{
  width:260px;
  min-height:100vh;
  background:#151515;
  color:white;
  padding:2rem 1.5rem;
  position:fixed;
  left:0;
  top:0;
}

.logo{
  text-align:center;
  margin-bottom:3rem;
}

.logo img{
  width:90px;
  margin-bottom:1rem;
}

.logo h2{
  color:#ff4d7d;
}

.logo span{
  color:#ccc;
  font-size:.9rem;
}

.sidebar ul{
  list-style:none;
}

.sidebar li{
  margin:1rem 0;
}

.sidebar a{
  color:white;
  text-decoration:none;
  transition:.3s;
}

.sidebar a:hover{
  color:#22d6c5;
}

.main-content{
  margin-left:260px;
  padding:3rem;
  width:100%;
}